In [188]:
from sklearn import preprocessing
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC

In [36]:
aut_mob=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data",names=['symboling',' normalized-losses','make','fuel-type','aspiration',' num-of-doors','body-style',' drive-wheels','engine-location','wheel-base','length','width','height','curb-weight','engine-type','num-of-cylinders','engine-size','fuel-system','bore','stroke','compression-ratio','horsepower','peak-rpm','city-mpg','highway-mpg','price'],na_values='?')

In [139]:
aut_mob.head()

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,...,make_label,fuel_type_label,aspiration_label,number_of_doors_label,body_style_label,drive_wheel_label,engine_location_label,fuel_system_label,engine_type_label,num-of-cylinders_label
0,3,164.0,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,...,0,1,0,1,0,2,0,5,0,2
1,3,164.0,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,...,0,1,0,1,0,2,0,5,0,2
2,1,164.0,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,...,0,1,0,1,2,2,0,5,5,3
3,2,164.0,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,...,1,1,0,0,3,1,0,5,3,2
4,2,164.0,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,...,1,1,0,0,3,0,0,5,3,1

In [38]:
aut_mob.shape

(205, 26)

In [163]:
aut_mob.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   symboling               205 non-null    int64
 1    normalized-losses      205 non-null    float64
 2   wheel-base              205 non-null    float64
 3   length                  205 non-null    float64
 4   width                   205 non-null    float64
 5   height                  205 non-null    float64
 6   curb-weight             205 non-null    int64
 7   engine-size             205 non-null    int64
 8   bore                    205 non-null    float64
 9   stroke                  205 non-null    float64
 10  compression-ratio       205 non-null    float64
 11  horsepower              205 non-null    float64
 12  peak-rpm                205 non-null    float64
 13  city-mpg                205 non-null    int64
 14  highway-mpg             205 non-null    int64
 15  price                   205 non-null    float64
 16  make_label              205 non-null    int64
 17  fuel_type_label         205 non-null    int64
 18  aspiration_label        205 non-null    int64
 19   number_of_doors_label  205 non-null    int64
 20   body_style_label       205 non-null    int64
 21   drive_wheel_label      205 non-null    int64
 22   engine_location_label  205 non-null    int64
 23  fuel_system_label       205 non-null    int64
 24  engine_type_label       205 non-null    int64
 25  num-of-cylinders_label  205 non-null    int64
dtypes: float64(11), int64(15)
memory usage: 41.8 KB

In [156]:
aut_mob.isnull().sum()

symboling                 0
 normalized-losses        0
wheel-base                0
length                    0
width                     0
height                    0
curb-weight               0
engine-size               0
bore                      0
stroke                    0
compression-ratio         0
horsepower                0
peak-rpm                  0
city-mpg                  0
highway-mpg               0
price                     0
make_label                0
fuel_type_label           0
aspiration_label          0
 number_of_doors_label    0
 body_style_label         0
 drive_wheel_label        0
 engine_location_label    0
fuel_system_label         0
engine_type_label         0
num-of-cylinders_label    0
dtype: int64

In [41]:
aut_mob[' normalized-losses'].fillna(method='backfill',inplace=True)

In [42]:
aut_mob['price'].fillna(method='ffill',inplace=True)

In [154]:
a=aut_mob['horsepower'].mean().round(0)

In [155]:
aut_mob['horsepower'].fillna(a,inplace=True)

In [49]:
aut_mob['peak-rpm'].fillna(method='bfill',inplace=True)

In [150]:
aut_mob['bore'].fillna(method='bfill',inplace=True)

In [50]:
aut_mob['stroke'].fillna(method='ffill',inplace=True)

In [58]:
aut_mob['make'].value_counts()

toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
volkswagen       12
subaru           12
peugot           11
volvo            11
dodge             9
mercedes-benz     8
bmw               8
audi              7
plymouth          7
saab              6
porsche           5
isuzu             4
jaguar            3
chevrolet         3
alfa-romero       3
renault           2
mercury           1
Name: make, dtype: int64

In [60]:
label_encode=LabelEncoder()

In [61]:
labels=label_encode.fit_transform(aut_mob['make'])

In [63]:
aut_mob['make_label']=labels

In [68]:
aut_mob['fuel-type'].value_counts()

gas       185
diesel     20
Name: fuel-type, dtype: int64

In [69]:
lab_ft=label_encode.fit_transform(aut_mob['fuel-type']) #gas=1,disel=0

In [70]:
aut_mob['fuel_type_label']=lab_ft

In [71]:
aut_mob.drop(['fuel-type'],axis='columns',inplace=True)

In [79]:
aut_mob['aspiration'].value_counts()

std      168
turbo     37
Name: aspiration, dtype: int64

In [80]:
lab_asp=label_encode.fit_transform(aut_mob['aspiration']) # std=0 turbo=1

In [81]:
aut_mob['aspiration_label']=lab_asp

In [83]:
aut_mob.drop(['aspiration'],axis='columns',inplace=True)

In [86]:
aut_mob[' num-of-doors'].value_counts()

four    114
two      89
Name:  num-of-doors, dtype: int64

In [87]:
lab_nod=label_encode.fit_transform(aut_mob[' num-of-doors']) #two=1 , four=0

In [91]:
aut_mob[' number_of_doors_label']=lab_nod

In [98]:
aut_mob['body-style'].value_counts()

sedan          96
hatchback      70
wagon          25
hardtop         8
convertible     6
Name: body-style, dtype: int64

In [100]:
lab_bs=label_encode.fit_transform(aut_mob['body-style'])

In [107]:
aut_mob[' body_style_label']=lab_bs

In [109]:
lab_dw=label_encode.fit_transform(aut_mob[' drive-wheels'])

In [110]:
aut_mob[' drive_wheel_label']=lab_dw

In [113]:
aut_mob['engine-location'].value_counts()

front    202
rear       3
Name: engine-location, dtype: int64

In [114]:
lab_el=label_encode.fit_transform(aut_mob['engine-location'])

In [115]:
aut_mob[' engine_location_label']=lab_el

In [118]:
aut_mob['fuel-system'].value_counts()

mpfi    94
2bbl    66
idi     20
1bbl    11
spdi     9
4bbl     3
mfi      1
spfi     1
Name: fuel-system, dtype: int64

In [119]:
lab_fs=label_encode.fit_transform(aut_mob['fuel-system'])

In [120]:
aut_mob['fuel_system_label']=lab_fs

In [131]:
aut_mob['engine-type'].value_counts()

ohc      148
ohcf      15
ohcv      13
dohc      12
l         12
rotor      4
dohcv      1
Name: engine-type, dtype: int64

In [133]:
lab_et=label_encode.fit_transform(aut_mob['engine-type'])

In [134]:
aut_mob['engine_type_label']=lab_et

In [135]:
aut_mob.drop(['engine-type'],axis=1,inplace=True)

In [136]:
lab_noc=label_encode.fit_transform(aut_mob['num-of-cylinders'])

In [137]:
aut_mob['num-of-cylinders_label']=lab_noc

In [138]:
aut_mob.drop(['num-of-cylinders'],axis=1,inplace=True)

In [121]:
aut_mob.drop(['fuel-system'],axis=1,inplace=True)

In [176]:
scaler=StandardScaler()
scaler.fit_transform(X)

array([[ 1.74347043,  1.06455918, -1.6907718 , ...,  0.8695675 ,
        -2.86510549, -0.14747536],
       [ 1.74347043,  1.06455918, -1.6907718 , ...,  0.8695675 ,
        -2.86510549, -0.14747536],
       [ 0.133509  ,  1.06455918, -0.70859588, ...,  0.8695675 ,
         1.88688986,  1.11220997],
       ...,
       [-1.47645244, -0.88724764,  1.72187336, ...,  0.8695675 ,
         1.88688986,  1.11220997],
       [-1.47645244, -0.88724764,  1.72187336, ..., -0.12630589,
        -0.01390828,  1.11220997],
       [-1.47645244, -0.88724764,  1.72187336, ...,  0.8695675 ,
        -0.01390828, -0.14747536]])

In [166]:
X=aut_mob.drop('price',axis='columns')
y=aut_mob.price

In [167]:
X.head()

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,...,make_label,fuel_type_label,aspiration_label,number_of_doors_label,body_style_label,drive_wheel_label,engine_location_label,fuel_system_label,engine_type_label,num-of-cylinders_label
0,3,164.0,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,...,0,1,0,1,0,2,0,5,0,2
1,3,164.0,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,...,0,1,0,1,0,2,0,5,0,2
2,1,164.0,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,...,0,1,0,1,2,2,0,5,5,3
3,2,164.0,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,...,1,1,0,0,3,1,0,5,3,2
4,2,164.0,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,...,1,1,0,0,3,0,0,5,3,1

In [168]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [169]:
len(X_train)

164

In [170]:
len(X_test)

41

In [171]:
model=SVC()

In [177]:
model.fit(X_train, y_train)

SVC()

In [174]:
model.score(X_test, y_test)

0.0

In [178]:
from sklearn.ensemble import BaggingClassifier

In [179]:
bag_model=BaggingClassifier(
    base_estimator=SVC(),
    n_estimators=70,
    max_samples=0.8,
    oob_score=True,
    random_state=0 )

bag_model.fit(X_train,y_train)
bag_model.oob_score_

0.0

In [180]:
from sklearn.ensemble import AdaBoostRegressor

In [182]:
Adamodel=AdaBoostRegressor(n_estimators=50,learning_rate=1)

In [183]:
model=Adamodel.fit(X_train,y_train)

In [191]:
model.score(X_test,y_test)

0.9159714789886189